!!! 5
%html.devise-layout-html{ class: system_message_class }
  = render "layouts/head", { startup_filename: 'signin' }
  %body.ui-indigo.login-page.application.navless{ class: "#{client_class_list}", data: { page: body_data_page, qa_selector: 'login_page' } }
    = header_message
    = render "layouts/init_client_detection_flags"
    .page-wrap
      -#= render "layouts/header/empty"
      .login-page-broadcast
        = render "layouts/broadcast"
      .container.navless-container
        .content
          = render "layouts/flash"
          -#.row.mt-3
            .col-sm-12
              %h1.mb-3.font-weight-normal
                = current_appearance&.title.presence || _('模板管理中心')
          .row.mb-3
            
              
            .col-sm-7.order-12.order-sm-1.brand-holder
              - unless recently_confirmed_com?
                = brand_image
                - if current_appearance&.description?
                  = brand_text
                - else
                  %h1.mb-3.font-weight-normal
                    = current_appearance&.title.presence || _('媒资版本控制系统')
                  %h3.gl-sm-mt-0
                  %p
                    = _(' ')
                  %h3.gl-sm-mt-0
                    = _('可将媒资项目文件版本化管理的平台')

                  %p
                    = _('将项目集中式存储、管理权限、记录文件历史版本变更')

                  -#%p
                    = _('私有服务器架设')
                  = render 'devise/shared/footer', footer_message: footer_message
              - if Gitlab::CurrentSettings.sign_in_text.present?
                = markdown_field(Gitlab::CurrentSettings.current_application_settings, :sign_in_text)

              = render_if_exists 'layouts/devise_help_text'

            .col-sm-5.order-1.new-session-forms-container{ class: recently_confirmed_com? ? 'order-sm-first' : 'order-sm-12' }
              = yield

      
